@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  width: 205vh; /* Mengubah menjadi 100% agar responsif */
  height: 100vh;
  background: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo600{
    width: 361px;
    height: 161px;
    margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

.print {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.print:hover {
  transform: scale(1.1);
}

/* Media query untuk ukuran layar yang lebih kecil */
@media (max-width: 600px) {
  .print {
    width: 150px; /* Ukuran tombol lebih kecil di layar kecil */
  }
}
